#boxes{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

p.one {
    border-style: outset;
    border-color: grey;
}

p.two {
    border-style: outset;
    border-color:grey;
}

p.three {
    border-style: outset;
    border-color: grey;
}

p.four {
    border-style: outset;
    border-color: grey;
}